*{
    box-sizing: border-box;
}

#game_draw,#game_pattern,#game_typeracer,#game_geomaster{
    display: flex;
    width: 1120px;
    height: 656px;
}

#canvas_div{
    width: 960px;
    height: 656px;
}

#canvas{
    border: 1px solid #767676;
    background: white;
}

#utils{
    display: flex;
    height: 100%;
}

#buttons{
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    padding-right: 8px;
}

.colorbuttons{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    max-width: 64px;
}

#util_buttons{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

#ready,#done,#done2,#done3{
    background: green;
    color:white;
    border-radius: 4px;
    padding: 8px 8px;
    font-weight: bold;
    font-size: 24px;
    width: 88px;
}

#ready:hover,#done:hover{
    cursor: pointer;
}

.colorbuttons button{
    border: none;
    width: 32px;
    height: 32px;
}

.colorbuttons button:hover,.alsobuttons button:hover,.specificbuttons button:hover{
    cursor: pointer;
}

.colorbuttons img{
    max-width:100%;
    max-height:100%;
}

.alsobuttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.alsobuttons button{
    border: none;
    width: 48px;
    height: 48px;
    margin-bottom: 2px;
}

.alsobuttons img{
    max-width:100%;
    max-height:100%;
    border: 1px solid black;
}

.specificbuttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.specificbuttons button{
    background: none;
    border: none;
    margin-bottom: 2px;
    width: 48px;
    height: 48px;
}

.specificbuttons img{
    max-width:100%;
    max-height:100%;
}

#game_fill{
    display: flex;
    flex-direction: column;
    padding-left:16px;
    width: 1120px;
    height: 656px;
}

#fill_blank{
    font-size: 14px;
}

#fill_input{
    padding: 16px 48px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-size: 20px;
}

#game_pattern{
    display: flex;
    padding-left:8px;
    width: 1120px;
    justify-content: center;
    height: 656px;
}

#pattern{
    margin-top: 32px;
    border-spacing: 0;
    border-collapse: collapse;
    max-height: 432px;
}

td{
    background: white;
    border: 1px solid black;
    width: 72px;
    height: 72px;
}

.black{
    background-color: black !important;
}

.white{
    background-color: white !important;
}

.green{
    background-color: #4AFE4A;
}

.red{
    background-color: #FF5050;
}


.table_js{
    margin: 32px 0px;
    width: 433px;
    height: 433px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    border: 0 solid black;
    border-width: 1px 1px 0 0;
}


.patternbutton{
    width: 72px;
    height: 72px;
    border: 0 solid black;
    border-width: 0 0 1px 1px;
    background: white;
}

.patternbutton:hover{
    cursor: pointer;
}


#game_typeracer{
    display: flex;
    flex-direction: column;
    padding-left:8px;
    width: 1120px;
    align-items: center;
    height: 656px;
}

#typeracer_form{
    width: 100%;
    padding: 16px 16px;
}

#typeracer_input{
    padding: 16px 48px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 20px;
    background: white;
    border: 1px solid #767676;
}

#typeracer_input:focus{
    outline: none;
}

#typeracer_input:focus::placeholder {
    color: transparent;
  }

#typeracer_ul{
    list-style-type: none;
    display: flex;
    padding: 32px 32px;
    max-width: 560px;
    height: 400px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.wordsli{
    font-size: 20px;
    padding: 8px 24px;
    margin: 4px;
    height: 40px;
    background: white;
    border: 1px solid black;
}


#game_geomaster{
    display: flex;
    position: relative;
    width: 1120px;
    height: 656px;
}
#pano{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#map{
    height: 40%;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid black;
    z-index: 5;
}

#done4{
    background: green;
    color:white;
    border-radius: 4px;
    padding: 8px 8px;
    font-weight: bold;
    font-size: 24px;
    width: 88px;
    position: absolute;
    bottom: 0;
    left: 0;   
    z-index: 5;
}

#game_pickcard{
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 656px;
    align-items: center;
    justify-content: center;
}


#cardsul{
    display: flex;
    list-style-type: none;
}

.pickcard_button{
    text-align: center;
    height: 256px;
    width: 128px;
    font-size: 16px;
    margin: 0px 16px;
    background-color: white;
    border: 1px solid #767676;
    border-radius: 2px;
}

.pickcard_button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 4px black;
}

#pickcard_label{
    font-size: 16px;
    margin-top: 16px;
}

.showcardsul{
    display: flex;
    list-style-type: none;
    margin-top: 16px;
}

.showcardsul label{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 224px;
    width: 112px;
    background-color: white;
    border: 1px solid #767676;
    border-radius: 2px;
}

.showcardsul div{
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
}

.showcardsul p{
    margin-top: 16px;
}

.gif{
    height: 256px;
    width: 256px;
}