@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image:  url("/imgs/b.png");
    background-size: repeat;
	font-family: 'Jost', sans-serif;
	font-size: 18px;
}

h1{
    font-size: 56px;
}

header{
	text-align: center;
	padding: 20px 0px;
	margin-bottom: 48px;
}

.content{
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.joinform{
	display: flex;
	flex-direction: column;
	width: 240px;
}

.joinform label{
	margin: 8px 0px;
}

.joinform input[type=text]{
	padding: 8px 8px;
	margin-bottom: 24px;
}

.joinform input[type=text]:focus{
	outline: none;
}

.joinform button{
	padding: 8px 16px;
	margin: 16px 0px;
	background: green;
	border-radius: 4px;
	border: none;
	color:white;
	font-size: 24px;
}

.joinform button:hover{
	cursor: pointer;
	box-shadow: 1px 1px 4px black;
}

#information{
	margin: 64px auto;
	width: 1280px;
}

#game{
	margin: 16px 16px;
	font-size: 16px;
}

h2{
	font-size: 20px;
}

#footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 16px;
	border-top: 1px solid #767676;
}


#disclaimer{
	margin: 16px 0px;
	font-size: 16px;
}

#copyright{
	margin: 16px 0px;
}